// --------------------
// Definition of variables
$primary: #32c3ff;

//Import font
@import url("https://fonts.googleapis.com/css?family=Muli");

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------

//@import "~react-vis/dist/style";

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: Muli;
  background-color: black;
  color: white;
}
.btn-style {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 2vh;
}
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: black;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
  display: flex;
  flex-direction: column;
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.input-field {
  width: 20vw;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic-div {
  display: flex;
  justify-content: center;
  margin-right: 2vw;
}

.profile-pic {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}
.graph {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.graph-box {
  width: 300px;
  margin-right: 25px;
}
.gif {
  width: 20vw;
}

/* User playlists section   */
.user-playlists-wrapper {
  display: inline-block;
  margin: 30px;
}

/* Slider ---------------------------  */
.slider-wrapper {
  width: 100%;
}

.form-wrapper {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0 15%;
}

.form {
  width: 100%;
}

.input-range {
  margin-bottom: 15px;
}

.input-range__label-container {
  display: none;
}

.form-label {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}

.input-range__track--background {
  background-color: #3f51b575 !important;
}

/* Songs preview -------------------- */
.songs-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.songs-preview-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.songs-preview-section {
  display: flex;
}

.songs-preview-section h4 {
  margin: 0;
}

.create-playlist-btn-wrapper {
  display: flex;
  align-items: center;
}

.create-playlist-btn {
  width: 200px;
  height: 30px;
}

/* ------------------------------- */
/* Media Queries ----------------- */

@media only screen and (min-width: 1080px) {
  .form-wrapper {
    margin: 0 25%;
  }
}
