@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  margin: 0;
  padding: 0;
  font-family: Muli;
  background-color: black;
  color: white; }

.btn-style {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 2vh; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: black;
    padding: 20px;
    color: white; }
    .App .App-header a {
      color: white;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home p {
  font-size: 1.2em; }

.Secret .result {
  font-size: 1.2em;
  color: #32c3ff; }

.input-field {
  width: 20vw; }

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.about-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.pic-div {
  display: flex;
  justify-content: center;
  margin-right: 2vw; }

.profile-pic {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 100px; }

.graph {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }

.graph-box {
  width: 300px;
  border: 1px solid white; }

.gif {
  width: 20vw; }
